[Desktop Entry]
Exec=wiitcpload
Name=WiiTCPLoad
Icon=/usr/share/icons/wiitcpload48.png
Type=Application
Categories=Qt;KDE;Network
Comment=Wii Homebrew/TCPLoader client
GenericName=Wii Homebrew/TCPLoader client
Encoding=UTF-8
Terminal=false
X-KDE-StartupNotify=false
